<% include include/header.html %>
    <div id="sensorsContainer">
        <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Log</h4>
        </div>
        <div class="panel-body" id="output" style="height:200px;overflow-y:scroll"></div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart', 'gauge']
        });
        google.charts.setOnLoadCallback(init);

        let sensors = {};


        let dataMap = new Map();
        // let divMap = new Map();
        // let lineChartMap = new Map();
        // let gaugeChartMap = new Map();
        let lockMap = new Map();

        let options_line = {
            legend: 'none',
            hAxis: {
                title: 'Time',
                maxValue: 0,
                minValue: -20,
                viewWindowMode: 'explicit',
                gridlines: { count: 10 },
                viewWindow: {
                    min: -20,
                    max: 0
                },

                ticks: [{ v: 0, f: 'Now' },
                { v: -5, f: '5' },
                { v: -10, f: '10 seconds ago' },
                { v: -15, f: '15' },
                { v: -20, f: '20 seconds ago' }]

            },
            // {
            //     "position": "top",
            //     "textStyle": {
            //         "color": "red",
            //         "fontSize": "16"
            //     }
            // },
            // width: 400,
            height: 200
            // , animation: { duration: 250, startup: true }
        };

        var options_gauge = {
            yih: {
                redFrom: 170,
                redTo: 200,
                yellowFrom: 150,
                yellowTo: 170,
                greenFrom: 0,
                greenTo: 150,
                minorTicks: 5,
                min: 0,
                max: 200
            },
            vqY: {
                redFrom: 3000,
                redTo: 4095,
                yellowFrom: 2000,
                yellowTo: 3000,
                greenFrom: 0,
                greenTo: 2000,
                minorTicks: 5,
                min: 0,
                max: 4095
            },
            xDM: {
                redFrom: 70,
                redTo: 100,
                yellowFrom: 40,
                yellowTo: 70,
                greenFrom: 0,
                greenTo: 40,
                minorTicks: 5,
                min: 0,
                max: 100
            },
            tkw: {
                redFrom: 35,
                redTo: 50,
                yellowFrom: 27,
                yellowTo: 35,
                greenFrom: 15,
                greenTo: 27,
                minorTicks: 5,
                min: 0,
                max: 50
            },
            androidXYZ: {
                redFrom: -1, redTo: 1, redColor: '#00FF00',
                greenFrom: -5, greenTo: 5, greenColor: '#FF0000',
                yellowFrom: -2.5, yellowTo: 2.5,
                minorTicks: 5,
                min: -5,
                max: 5
            }
        };


        function initSensor(sensorResponse) {
            console.log(sensorResponse);
            let _id = sensorResponse.id;
            let _type = sensorResponse.type;

            //init sensor, and data series            
            sensors[_id] = {
                id: _id,
                data: [],
                unit: sensorResponse.unit,
                type: sensorResponse.type
            };




            let gaugeID = "sensor_" + _id + "_gauge";
            let historyID = "sensor_" + _id + "_history";

            // inject div for chart
            var t = document.querySelector('#sensorTemplate');
            var clone = document.importNode(t.content, true);
            // Populate the src at runtime.
            clone.querySelector('#sensor_i_gauge').id = gaugeID;
            clone.querySelector('#sensorName').textContent = _type;
            clone.querySelector('#sensorID').textContent = _id;
            clone.querySelector('#sensor_x_history').id = historyID;
            document.querySelector('#sensorsContainer').appendChild(clone);

            // prepare data
            let label = undefined;
            let label_unit = sensorResponse.unit;
            switch (sensorResponse.type) {
                case 'Temperature Sensor':
                    label = "Temperature";
                    break;
                case 'Ambient Sensor':
                    label = "Light";
                    break;
                case 'Humidity Sensor':
                    label = "Humidity";
                    break;
                case 'Sound Intensity Sensor':
                    label = "Sound";
                    break;
                case 'Accelerometer Sensor':
                    label = "Accelerometer";
                    break;
                case 'Accelerometer':
                    label = "x-inertia";
                    break;
                default:
                    label = "Unknown ";
            }

            let data_gauge = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                [label, 0],
            ]);
            sensors[_id].lock = true;;


            let data_line = new google.visualization.DataTable();
            data_line.addColumn('datetime', 'Timestamp');
            data_line.addColumn('number', label_unit);
            let linechart = new google.visualization.LineChart(document.getElementById(historyID));
            linechart.draw(data_line, options_line);

            let gaugechart = new google.visualization.Gauge(document.getElementById(gaugeID));

            sensors[_id].gaugeData = data_gauge;
            sensors[_id].lineData = data_line;
            sensors[_id].gaugeChart = gaugechart;
            sensors[_id].lineChart = linechart;

            google.visualization.events.addListener(gaugechart, 'error', errorHandler);
            google.visualization.events.addListener(linechart, 'error', errorHandler);
            google.visualization.events.addListener(linechart, 'ready', () => sensors[_id].lock = true);

            if (options_gauge[_id] == undefined) {
                options_gauge[_id] = options_gauge.androidXYZ;
            }
            gaugechart.draw(data_line, options_gauge[_id]);

        }


        var wsUri = "ws://<%=wsIP%>:8888";
        console.log(wsUri);
        var output;
        var num_sensors = 0;
        var websocket;

        function init() {
            output = document.getElementById("output");
            initWebSocket();
            setInterval(timestep, 800);
        }

        function errorHandler(error) {
            console.log(JSON.stringify(error));
            google.visualization.errors.removeError(error.id);
            // console.log("ERROR: " + error.message + " :: " + error.detailedMessage + " :: " + JSON.stringify(error.options))
            google.visualization.errors.addError(output, error.message, error.detailedMessage, error.options);
        }

        function timestep() {
            for (let idx in sensors) {
                let devID = sensors[idx].id;
                if (sensors[devID].lock) {//check if the chart is ready
                    let now = new Date();

                    // remove any reading older than 20 seconds
                    sensors[devID].data = sensors[devID].data
                        .filter(i => (now - i[0]) < 20000);

                    // plot readings' timestamps relative to now() 
                    let newData = sensors[devID].data.map(i => [-1 * (now - i[0]) / 1000, i[1]]);

                    let data1 = new google.visualization.DataTable();
                    data1.addColumn('number', 'Seconds ago');
                    data1.addColumn('number', sensors[devID].unit);
                    data1.addRows(newData);

                    var formatter = new google.visualization.NumberFormat({ suffix: ' secs' });
                    var unitFormatter = new google.visualization.NumberFormat({ suffix: sensors[devID].unit });
                    formatter.format(data1, 0); // Apply formatter to first column
                    unitFormatter.format(data1, 1); // Apply formatter to second column

                    options_line.vAxis = { title: sensors[devID].unit };

                    let g_chart = sensors[devID].gaugeChart;
                    let l_chart = sensors[devID].lineChart;


                    g_chart.draw(sensors[devID].gaugeData, options_gauge[devID]);
                    l_chart.draw(data1, options_line);
                }
            }
        }

        function updateChart(data) {
            sensors[data.id].gaugeData.setValue(0, 1, data.reading);

            sensors[data.id].data.push([new Date(data.timestamp), data.reading]);

        }

        function initWebSocket() {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) {
                onOpen(evt)
            };
            websocket.onclose = function (evt) {
                onClose(evt)
            };
            websocket.onmessage = function (evt) {
                onMessage(evt)
            };
            websocket.onerror = function (evt) {
                onError(evt)
            };
        }

        function onOpen(evt) {
            writeToScreen("CONNECTED");
            doSend("WebSocket rocks");
        }

        function onClose(evt) {
            writeToScreen("DISCONNECTED");
        }

        function onMessage(evt) {
            dataRec = evt.data;
            dataRec_parsed = JSON.parse(evt.data);
            if (sensors[dataRec_parsed.id] == undefined) {
                console.log("New sensor. Initializing! ");
                initSensor(dataRec_parsed);
            }

            updateChart(dataRec_parsed);
            writeToScreen(dataRec);
        }

        function onError(evt) {
            writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
        }

        function doSend(message) {
            writeToScreen("SENT: " + message);
            websocket.send(message);
        }

        function writeToScreen(message) {
            var pre = document.createElement("code");
            let output = document.getElementById("output")
            pre.style.wordWrap = "break-word";
            pre.innerHTML = "<br/>" + message;
            output.appendChild(pre);
            output.scrollTop = output.scrollHeight;
        }

        // window.addEventListener("load", init, false);
    </script>
    <% include include/footer.html %>