<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        <%= pkg.name %> ::
            <%= header %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
	<link href="/css/main.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart', 'gauge']
        });
        google.charts.setOnLoadCallback(init);


        let dataMap = new Map();
        let divMap = new Map();
        let lineDataMap = new Map();
        let gaugeDataMap = new Map();
        let lineChartMap = new Map();
        let gaugeChartMap = new Map();
        let lockMap = new Map();

        let options_line = {
            legend: 'none',
            // curveType: 'function',
            hAxis: {
                maxValue: 0,
                minValue: -10,
                viewWindowMode: 'maximized',
                // reverseCategories: true,
                gridlines: { count: 10 }

            },
            // {
            //     "position": "top",
            //     "textStyle": {
            //         "color": "red",
            //         "fontSize": "16"
            //     }
            // },
            // width: 400,
            height: 200
            // , animation: { duration: 250, startup: true }
        };

        var options_gauge = {
            // width: 600, height: 520,
            redFrom: 90,
            redTo: 100,
            yellowFrom: 75,
            yellowTo: 90,
            minorTicks: 5
        };


        function initSensor(sensorResponse) {
            console.log(sensorResponse);
            let _id = sensorResponse.id;
            let _type = sensorResponse.type;

            //init data series
            if (dataMap.get(_id) == undefined)
                dataMap.set(_id, []);

            let gaugeID = "sensor_" + _id + "_gauge";
            let historyID = "sensor_" + _id + "_history";

            // inject div for chart
            var t = document.querySelector('#sensorTemplate');
            var clone = document.importNode(t.content, true);
            // Populate the src at runtime.
            clone.querySelector('#sensor_i_gauge').id = gaugeID;
            clone.querySelector('#sensorName').textContent = _type + "(" + _id + ")";
            clone.querySelector('#sensorID').textContent = _id;
            clone.querySelector('#sensor_x_history').id = historyID;
            document.querySelector('#sensorsContainer').appendChild(clone);

            // prepare data
            let label = undefined;
            let label_unit = undefined;
            switch (sensorResponse.type) {
                case 'Temperature Sensor':
                    label = "Temperature";
                    label_unit = 'Temperature (Celcius)'
                    break;
                case 'Ambient Sensor':
                    label = "Light";
                    label_unit = 'Illuminance (Lux)'
                    break;
                case 'Humidity Sensor':
                    label = "Humidity";
                    label_unit = 'Humidity (%)'
                    break;
                case 'Sound Intensity Sensor':
                    label = "Sound";
                    label_unit = 'Sound (db)'
                    break;
                case 'Accelerometer Sensor':
                    label = "Accelerometer";
                    label_unit = 'Acceleration (m/(s^2))'
                    break;
                default:
                    label = "Unknown ";
            }

            let data_gauge = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                [label, 80],
            ]);
            lockMap.set(_id, true);

            let data_line = new google.visualization.DataTable();
            data_line.addColumn('datetime', 'Timestamp');
            data_line.addColumn('number', label_unit);
            let linechart = new google.visualization.LineChart(document.getElementById(historyID));
            linechart.draw(data_line, options_line);

            let gaugechart = new google.visualization.Gauge(document.getElementById(gaugeID));

            gaugeDataMap.set(_id, data_gauge)
            lineDataMap.set(_id, data_line);
            gaugeChartMap.set(_id, gaugechart)
            lineChartMap.set(_id, linechart);

            google.visualization.events.addListener(gaugechart, 'error', errorHandler);
            google.visualization.events.addListener(linechart, 'error', errorHandler);
            google.visualization.events.addListener(linechart, 'ready', () => lockMap.set(_id, true));


            gaugechart.draw(data_line, options_gauge);

        }


        var wsUri = "ws://0.0.0.0:8888";
        var output;
        var num_sensors = 0;
        var websocket;

        function init() {
            output = document.getElementById("output");
            initWebSocket();

        }

        function errorHandler(error) {
            console.log(JSON.stringify(error));
            google.visualization.errors.removeError(error.id);
            // console.log("ERROR: " + error.message + " :: " + error.detailedMessage + " :: " + JSON.stringify(error.options))
            google.visualization.errors.addError(output, error.message, error.detailedMessage, error.options);
        }

        function updateChart(data) {
            gaugeDataMap.get(data.id).setValue(0, 1, data.reading);
            // lineDataMap.get(data.id).addRows([
            //     [new Date(data.timestamp), data.reading]
            // ]);

            dataMap.get(data.id).push([new Date(data.timestamp), data.reading]);

            // let data_line = new google.visualization.DataTable();
            // data_line.addColumn('datetime', 'Timestamp');
            // data_line.addColumn('number', label_unit);




            if (lockMap.get(data.id)) {//check if the chart is ready
                let now = new Date();
                let newData = dataMap.get(data.id).
                    filter(i => (now - i[0]) < 10000).
                    map(i => [-1 * (now - i[0]) / 1000, i[1]]);
                // newData.unshift(["Timestamp", "Units"]);

                let data1 = new google.visualization.DataTable();
                data1.addColumn('number', 'Seconds ago');
                data1.addColumn('number', 'Units');
                data1.addRows(newData);

                var formatter = new google.visualization.NumberFormat({ suffix: ' secs' });
                formatter.format(data1, 0); // Apply formatter to second column

                options_line.hAxis = { title: 'Seconds' };
                options_line.vAxis = { title: 'Units' };

                let g_chart = gaugeChartMap.get(data.id);
                let l_chart = lineChartMap.get(data.id);
                g_chart.draw(gaugeDataMap.get(data.id), options_gauge);
                l_chart.draw(data1, options_line);
            }
        }

        function initWebSocket() {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) {
                onOpen(evt)
            };
            websocket.onclose = function (evt) {
                onClose(evt)
            };
            websocket.onmessage = function (evt) {
                onMessage(evt)
            };
            websocket.onerror = function (evt) {
                onError(evt)
            };
        }

        function onOpen(evt) {
            writeToScreen("CONNECTED");
            doSend("WebSocket rocks");
        }

        function onClose(evt) {
            writeToScreen("DISCONNECTED");
        }

        function onMessage(evt) {
            dataRec = evt.data;
            dataRec_parsed = JSON.parse(evt.data);
            if (dataMap.get(dataRec_parsed.id) == undefined) {
                // dataMap.set(dataRec.id, []);
                console.log("Not found! ");
                initSensor(dataRec_parsed);
            }

            updateChart(dataRec_parsed);
            writeToScreen(dataRec);
        }

        function onError(evt) {
            writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
        }

        function doSend(message) {
            writeToScreen("SENT: " + message);
            websocket.send(message);
        }

        function writeToScreen(message) {
            var pre = document.createElement("code");
            let output = document.getElementById("output")
            pre.style.wordWrap = "break-word";
            pre.innerHTML = "<br/>" + message;
            output.appendChild(pre);
            output.scrollTop = output.scrollHeight;
        }

        // window.addEventListener("load", init, false);
    </script>
</head>
<body>
    <% var menu = [
        <!-- { name : "index", title : "Home", glyphicon: "fa-home" }, -->
        { name : "dashboard", title : "Dashboard", glyphicon: "fa-dashboard" },
        { name : "system", title : "System", glyphicon: "fa-signal" },
        { name : "license", title : "License", glyphicon: "fa-file-text" },
        { name : "error", title : "Error", glyphicon: "fa-exclamation" } ];
    %>
    <nav class="navbar navbar-full navbar-fixed-top navbar-dark bg-primary">
        <div class="hidden-sm-up">
            <span class="navbar-brand">express4-skeleton</span>
                <button class="navbar-toggler pull-xs-right" type="button" data-toggle="collapse" data-target="#cnavbar">&#9776;</button>
        </div>
        <div class="collapse navbar-toggleable-xs container" id="cnavbar">
            <ul class="nav navbar-nav">
                <% for (var i = 0; i < menu.length; i++) { %>
                <% if (menu[i].name === menu_name) { %>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span
                            class="fa <%= menu[i].glyphicon %>"
                            aria-hidden="true"></span>&nbsp;&nbsp;<%= menu[i].title %>
                            <span class="sr-only">(current)</span></a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/<%= menu[i].name %>.html"><span
                            class="fa <%= menu[i].glyphicon %>"
                            aria-hidden="true"></span>&nbsp;&nbsp;<%= menu[i].title %></a></li>
                <% } } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main id="main" role="main">
            <section>
                <article>
                    <header role="banner">
                            <h1>
                                <%= header %>
                            </h1>
                    </header>
